


/* ROOT */
:root{
    --tipografia: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --color_fondo: #14002c;
    --color_claro: blueviolet;
    --color_texto: white;
    --color_contraste: orange;
}

/* CONDICIONES INICIALES */
*{
    margin: 0;
    padding: 0;
}


/* BODY */
body{
    width: 100%;
    background-color: var(--color_fondo);
    color: var(--color_texto);
    /* font-family: var(--tipografia); */
    overflow-x: hidden;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* ----------------HEADER---------------- */

header{
    width: 10vw;
    height: 10vh;
}

/* CLASE MENÚ NAV */

.navbar{
    /* IMPORTANTE: dar dimensiones */
    background-color: var(--color_claro);
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 1000;
    top: 0%;
    left: 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}



/* CLASE LISTA MENU */
/* .mi_navbark{
    height: 100%;
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 25px;
} */


/* CLASE LISTA MENU Y A */
.mi_navbark a{
    text-decoration: none;
    color: var(--color_texto);
    font-size: 20px;
    font-weight: bold;
}


.mi_navbark a:hover{
    color: var(--color_fondo);
}


/* LOGO DEL ENCABEZADO */
.logo{
    height: 60px;
    width: 200px;
    margin-right: 1000px;
}


/*-----------------MAIN-----------------*/



main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}   


/* SECCIÓN 1 */


/* MEDIDAS DE LA SECCIÓN 1 */
.seccion_1{
    width: 85%;
    height: auto;
    margin-top: 80px;
    margin-bottom: 100px;
}

/* TÍTULO PRINCIPAL SECCIÓN 1 */
.titulo_principal{
    font-size: 90px;
    max-width: 700px;
    word-wrap: break-word;
    text-align:left;
    position: relative;
}


/* SUBTÍTULO SECCIÓN 1 */
.subtitulo_seccion1{
    font-size: 50px;
    text-align: left;
    position: relative;
}

/* BOTÓN "SOBRE MÍ" */
.boton_sobre_mi{
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 2px;
    font-weight: bolder;
    position: relative;
}

.boton_sobre_mi a{
    list-style: none;
    text-decoration: none;
    color: var(--color_contraste);
}

.boton_sobre_mi :hover{
    color: var(--color_texto);
}



/* ÍCONOS DE REDES SOCIALES */
.iconos_redes1{
    font-size: 30px;
    position: relative;
}

.iconos_redes1 a{
    color: var(--color_contraste);
}

:hover{
    color: var(--color_texto);
}


.contenedor1{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 25px;
}

.contenedor1 img{
    width: 45%;
}


/* IMÁGEN CIRCULAR MÍA */
/* INTENTÉ MUCHAS FORMAS Y NO PUDE SUBIR LA IMÁGEN PARA QUE QUEDARA MEDIANAMENTE CENTRADA AL TEXTO DE LA IZQUIERDA :( */
.imagen_seccion1{

    /* MEDIDAS PARA VOLVER LA IMÁGEN CIRCULAR */
    position: absolute;
    top: 0;
    right: 0;
    width:300px;
    height: 600px;
    border-radius: 50%;
    overflow: hidden;
}






/* SECCIÓN 2 */

.seccion_2{
    width: 80%;
    height: auto;
    margin-bottom: 100px;
    padding-top: 70px;
    margin-top: 40px;
}

/* SUBTÍTULO DE LA SECCIÓN 2 */
.subtitulo_seccion2{
    text-align: center;
    padding: 25px;
    font-size: 100px;
    color: var(--color_contraste);
}

/* VIÑETAS DE LOS ESTUDIOS */
.estudios{
    display: flex;
    gap: 30px;
    align-items:flex-start;
    padding: 15px;
    font-size: 30px; 
}

.estudios img{
    width: 50%;
    padding-bottom: 40px;
}

.estudios p{
    width: 50%;
}




/* SECCIÓN 3 */

.seccion_3{
    width: 85%;
    margin-top: 40px;
    margin-bottom: 100px;
    padding-top: 80px;
}

/* SUBTÍTULO SECCIÓN 3 */

.subtitulo_seccion3{
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color_contraste);
}

/* LISTA DE BOTONES DE LOS PROYECTOS */
.lista_menu2{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 270px;
    list-style: none;
    margin-top: 40px;
}

.lista_menu2 a{
    text-decoration: none;
    color: var(--color_texto);
    font-size: 40px;
    font-weight: bold;
}

.lista_menu2 a:hover{
    color: var(--color_contraste);
}

/* NOMBRES DE CADA PROYECTO DEBAJO DE SU RESPECTIVO BOTÓN */
.nombres_de_proyectos{
    height: 100%;
    display: flex;
    text-align: center;
    gap: 350px;
    list-style: none;
    margin-top: 20px;
}



.nombres_de_proyectos li{
    color: var(--color_contraste);
    font-size: 25px;
    font-weight: bold;
}




/* SECCIÓN 4 */

.seccion_4{
    width: 85%;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 80px;
}


/* SUBTÍTULO SECCIÓN 4 */
.subtitulo_seccion4{
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color_contraste);
}


/* IMÁGENES DE LA SECCIÓN 4*/
.imagen_seccion4{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* TAMAÑO DE LAS IMÁGENES */
.imagen_seccion4 img{
    width: 350px;
    height: 350px;
    margin: auto;
    margin-top: 20px;
}


/* LISTA DE HABILIDADES */
.habilidades{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 220px;
    list-style: none;
    margin-top: 20px;
    
}

.habilidades li{
    color: var(--color_contraste);
    font-size: 25px;
    font-weight: bold;
}


/* BOTÓN PARA VER CV */
.boton_ver_cv{
    font-size: 40px;
    margin-top: 60px;
    margin-bottom: 2px;
    font-weight: bolder;
    display: grid;
    place-content: center;
    color: var(--color_texto);
    cursor: pointer;
    animation: resize 2s infinite;
}

@keyframes resize{
    0%, 100%{
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }
}
.boton_ver_cv a{
    list-style: none;
    text-decoration: none;
    color: var(--color_contraste);
}

.boton_ver_cv :hover{
    color: var(--color_texto);
}


/* SECCIÓN 5 */

.seccion_5{
    width: 80%;
    height: auto;
    margin-bottom: 100px;
    padding-top: 70px;
}


/* SUBTÍTULO SECCIÓN 5 */
.subtitulo_seccion5{
    text-align: center;
    padding: 25px;
    font-size: 100px;
    color: var(--color_contraste);
}


/* PÁRRAFO DE LA SECCIÓN 5 */
.parrafo_seccion5{
    display: flex;
    gap: 30px;
    align-items:flex-start;
    padding: 15px;
    font-size: 30px; 
}

.parrafo_seccion5 img{
    width: 50%;
    padding-bottom: 40px;
}


.parrafo_seccion5 p{
    width: 50%;
}

.parrafo_seccion5 img{
    width: 50%;
    height: 50vh;
    padding-bottom: 40px;
}

/*----------------FOOTER----------------*/

.footer{
    width: 100%;
    height: 27vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color_claro);
}

/* SUBTÍTULO DEL FOOTER */
.subtitulo_footer{
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color_contraste);
}

/* ÍCONOS DE REDES SOCIALES */
.iconos_redes2{
    font-size: 40px;
    
}
    
.iconos_redes2 a{
    color: var(--color_contraste);
    margin: 10px;
}


/* ÍCONO DE COPYRIGTH */
.copyrigth{
    font-size: 25px;
}




